/**
 * Base styles
 */

// Import variables
@use "variables" as *;

// Reset
* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  @extend %vertical-rhythm;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %vertical-rhythm;
  font-weight: $base-font-weight;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color-dark;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  @extend %vertical-rhythm;

  > img {
    display: block;
  }

  figcaption {
    font-size: $small-font-size;
  }
}

ul,
ol {
  @extend %vertical-rhythm;
  margin-left: $spacing-unit;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

blockquote {
  @extend %vertical-rhythm;
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: $base-font-size * 1.125;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

table {
  @extend %vertical-rhythm;
  width: 100%;
  text-align: left;
  color: $grey-color-dark;
  border-collapse: collapse;
  border: 1px solid $grey-color-light;

  tr:nth-child(even) {
    background-color: $grey-color-lightest;
  }

  th,
  td {
    padding: $spacing-unit / 2 $spacing-unit / 1.5;
  }

  th {
    background-color: $grey-color-light;
    border: 1px solid $grey-color;
    border-bottom-color: $grey-color-dark;
  }

  td {
    border: 1px solid $grey-color-light;
  }
}

// Code formatting
pre,
code {
  font-size: $base-font-size * 0.9375;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: $code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: $spacing-unit / 1.5 $spacing-unit / 1.2;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Wrapper
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-palm) {
    max-width: -webkit-calc(#{$content-width} - #{$spacing-unit});
    max-width: calc(#{$content-width} - #{$spacing-unit});
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Icons
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: $grey-color;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

.social-media-list a:hover {
  text-decoration: none;

  .username {
    text-decoration: underline;
  }
}

// Site header
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

// Site footer
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

// Page content
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

// Posts
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

// 关键修改：替换所有 darken/lighten 为 color.adjust
.nav-trigger:checked ~ .trigger .page-link {
  color: color.adjust($brand-color, $lightness: -15%);
}

.pagination .page-item a:hover {
  color: color.adjust($text-color, $lightness: 18%);
}

.pagination .page-item.active a {
  background-color: color.adjust($grey-color-light, $lightness: 6%);
}
