/**
 * Variables
 */

// Colors
$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;
$brand-color-dark: color.adjust($brand-color, $lightness: -15%) !default;
$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
$grey-color-dark: color.adjust($grey-color, $lightness: -25%) !default;
$grey-color-lightest: #f7f7f7 !default;
$code-background-color: #eef !default;

// Fonts
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$small-font-size: $base-font-size * 0.875 !default;

// Spacing
$spacing-unit: 30px !default;

// Content width
$content-width: 800px !default;

// Media queries
$on-palm: 600px !default;
$on-laptop: 800px !default;

// Mixins
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
  line-height: $base-line-height;
}

@mixin media-query($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

// Vertical rhythm
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}
